<header id="s8" class="bg-success"></header>
<div id="s7">
        <h2 id="s6">Safety Tips</h2>
        <div class="field-item even">
            <h3><span class="articleHeading1">Personal Safety—Be Prepared</span></h3>
            <p>By taking a few simple precautions, you can reduce the risk to yourself and also discourage those
                who commit crimes.</p>
            <ul>
                <li>Always be alert and aware of the people around you.</li>
                <li>Educate yourself concerning prevention tactics.</li>
                <li>Be aware of locations and situations which would make you appear vulnerable to crime, such as
                    alleys and dark parking lots.</li>
            </ul>
            <h3><span class="articleHeading2">Street Precautions</span></h3>
            <ul>
                <li>Be alert to your surroundings and the people around you—especially if you are alone or it is
                    dark.</li>
                <li>Whenever possible, travel with a friend.</li>
                <li>Stay in well-lighted areas as much as possible.</li>
                <li>Walk close to the curb. Avoid doorways, bushes and alleys where someone could hide.</li>
                <li>Walk confidently at a steady pace.</li>
                <li>Make eye contact with people when walking.</li>
                <li>Do not respond to conversation from strangers on the street—continue walking.</li>
                <li>If you carry a purse, carry it securely between your arm and your body. Although a
                    purse-snatcher's intent is to steal the purse, your personal safety may depend on not clinging
                    to it.</li>
                <li>Do not use or wear anything that will impede your vision or hearing (i.e. iPods).</li>
            </ul>
            <h3><span class="articleHeading2">Car Safety</span></h3>
            <ul>
                <li>Always lock your car doors after entering or leaving your vehicle.</li>
                <li>Park in well-lighted areas.</li>
                <li>Have your car keys in your hand so you don't have to linger before entering your car.</li>
                <li>Check the interior of your vehicle for intruders before entering your car.</li>
                <li>If you think you are being followed, drive to a public place or a police or sheriff station.</li>
                <li>If your car breaks down, open the hood and attach a white cloth to the car antennae. If someone
                    stops to help, stay in your locked car and ask them to call the police, sheriff or a tow truck
                    service.</li>
                <li>Don't stop to aid motorists by the side of the road. Make a phone call requesting help for
                    them.</li>
            </ul>
            <h3><span class="articleHeading2">While Waiting for a Bus</span></h3>
            <ul>
                <li>Be alert to your surroundings and the people around you.</li>
                <li>Try to avoid isolated bus stops.</li>
                <li>Don't open your purse or wallet while boarding the bus—have your pass or money already in your
                    hand.</li>
                <li>Keep jewelry out of sight; don't flash jewelry; turn rings around so the stones don't show.</li>
            </ul>
            <h3><span class="articleHeading2">On Board Buses</span></h3>
            <ul>
                <li>During off hours, ride as near to the bus operator as possible</li>
                <li>If someone bothers you or makes you feel uncomfortable, change seats. Inform the driver of the
                    situation.</li>
                <li>Carry your wallet inside your coat, or in a front pocket.</li>
                <li>Keep your belongings in front of you and hold close to your body with both hands.</li>
                <li>Be alert to pickpocketers on crowded buses; check your purse or wallet if someone is jostling,
                    crowding or pushing you.</li>
            </ul>
            <h3><span class="articleHeading2">Office Security</span></h3>
            <ul>
                <li>Never leave your purse or wallet in plain view or in common accessible areas.</li>
                <li>Don't leave cash or valuables at the office.</li>
                <li>If you work alone or after business hours, keep the office door locked.</li>
                <li>If you work late, try to find another worker or a security guard to walk out with you.</li>
                <li>In an elevator, be mindful that there is a distress alarm on the control panel.</li>
                <li>Be alert for pickpocketers on crowded elevators.</li>
                <li>Report all suspicious persons and activities to the proper authorities (office manager,
                    building security, law enforcement).</li>
            </ul>
        </div>
    </div>
