#s6{
    color:#274d8a;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 150px;
}

#s7{
    font-family: 'Times New Roman', Times, serif;
    color:#274d8a;
    margin-left: 50px;
    
}

#s8{
    height: 75px;
}