<nav id="s4" class="navbar navbar-dark" >
  <div class="navbar-header">
      <!-- <span>Crime Management Application</span> -->
    <img id="s1" src="/assets/images/3chakra.jpg" >
    
   <!-- <a class="navbar-brand float-left" href="">Crime Management Application</a> -->
      <button  class="btn"> <a href=""> <mat-icon id="s2">home</mat-icon></a></button>

 </div>
 <div class="navbar-right">
        <!-- <mat-icon class="mr-2">account_circle</mat-icon> -->
     <a (click)="onsubmit()" class="btn text-white"><i class="mr-2 fa fa-sign-in"></i>Login</a>
     <a [routerLink]="['register']" class="mr-2 btn text-white"><i class="mr-2 fa fa-user-circle"></i>Register</a>
     <a [routerLink]="['about']"  class="mr-2 btn text-white">About</a>
     <a [routerLink]="['safetytips']" class="btn navbar-btn text-white">Safety Tips</a>
 </div>
</nav>
<h2 id="s3">Crime Management Application</h2>


<!-- <body style=" background-image: url('/assets/images/3.jpg'); height: 100vh; background-repeat: no-repeat; background-size:cover;"> -->
<router-outlet></router-outlet> 
<!-- </body> -->    