<header style="height:75px;" class="bg-success"></header>
<table width="82%" text-align="center">
    <tbody>
        <tr>
            <td>
                <p class="pgtophead rti changefont title-header" id="missng" style="color: rgb(0, 64, 107); background-image: url(&quot;images/title.gif&quot;);">POLICE
                    HEADQUARTERS - CONTACT NUMBERS</p>
            </td>
        </tr>

        <table class="box-shadowTab" style="width: 100%; margin-top: -5px;">
            <tbody>
                <tr>
                    <td>
                        <table s width="100%" text-align="center" class="table plain changefont  new-font-div" style="border: 1px solid rgb(102, 194, 255); color: rgb(0, 64, 107);">
                            <tbody>
                                <tr height="40" class="tableHead new-font-div btncolor bold whitecolor" style="border: 1px solid rgb(102, 194, 255); background-color: rgb(30, 144, 255);">
                                    <td width="3%" class="new-font-div center" id="id55" style="border: 1px solid rgb(102, 194, 255);"><span>S.NO</span></td>

                                    <td width="10%" class="new-font-div" id="id56" style="border: 1px solid rgb(102, 194, 255);"><span>DESIGNATION</span></td>
                                    <td width="10%" class="new-font-div" id="id57" style="border: 1px solid rgb(102, 194, 255);"><span>OFFICER
                                            NAME</span></td>

                                    <td width="10%" class="new-font-div" id="id58" style="border: 1px solid rgb(102, 194, 255);"><span>CONTACT
                                            NUMBER</span></td>
                                    <td width="10%" class="new-font-div" id="id59" style="border: 1px solid rgb(102, 194, 255);"><span>FAX
                                            NUMBER</span></td>
                                    <td width="15%" class="new-font-div" id="id5a" style="border: 1px solid rgb(102, 194, 255);"><span>EMAIL
                                            ID</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">1</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Kancheepuram</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Tmt P.C. Thenmozhi
                                            IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">044-27239009</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">044-27239004</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.kpm@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">2</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Villupuram</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Thiru Santhosh Kumar
                                            IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">04146-223620,9445462832</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">04146-223620</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.vpm@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">3</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Vellore</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Tmt N.Kamini IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0416-2220402</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">04146-2232602</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.vlr@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">4</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Coimbatore</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Thiru G. Karthikeyan
                                            IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0422-2221500</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0422-2221500</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.cbe@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">5</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Salem</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Thiru Pradip Kumar
                                            IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0427-2400900</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0427-2400900</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.slm@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">6</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Trichy</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Thiru V.Balakrishnan
                                            IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0431-2333909</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0431-2333909</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.tri@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">7</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Thanjavur</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Dr.J.Loganathan IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">04362-277577,9884447581</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">04362-272477</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.tnj@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">8</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Dindigul</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Thiru Joshi
                                            NirmalKumar IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0451-2411800</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">-</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.dgl@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">9</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Ramnad</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Thiru Rupesh Kumar
                                            Meena IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">04567-230780</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">-</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.rmd@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">10</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;"> Tirunelveli</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Tr.Praveen Kumar
                                            Abhinapu IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0462-2568031,9650297865</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">-</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.tin@tncctns.gov.in</span></td>

                                </tr>

                                <tr class="new-font-div" style="border: 1px solid rgb(102, 194, 255);">
                                    <td align="left" class="new-font-div center" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">11</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Madurai</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">Dr.Z.Annie Vijaya
                                            IPS</span></td>

                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0452-2531317</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">0425-2539539</span></td>
                                    <td align="left" class="new-font-div" style="border: 1px solid rgb(102, 194, 255);"><span
                                            style="text-decoration: none;">dig.mdu@tncctns.gov.in</span></td>

                                </tr>

                            </tbody>
                        </table>


                    </td>
                </tr>
            </tbody>
        </table>